name: currencyserviceci

on: 
  workflow_dispatch:

# on:
#   push:
#     branches:
#       - main  # Set the branch you want to trigger the workflow on
#     paths-ignore:
#       - 'helm/**'
#       - 'k8s/**'
#       - '.github/workflows/**'
#       - 'README.md'
#       - 'src/adservice/**'
#       - 'src/cartservice/**'
#       - 'src/checkoutservice/**'
#       - 'src/frontend/**'
#       - 'src/emailservice/**'
#       - 'src/loadgenerator/**'
#       - 'src/paymentservice/**'
#       - 'src/productcatalogservice/**'
#       - 'src/recommendationservice/**'
#       - 'src/shippingservice/**'
#       - 'src/shoppingassistantservice/**'

jobs:
  sonarqube-analysis:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # - name: Set up SonarQube Scanner
      #   uses: sonarsource/sonarcloud-github-action@v1
      #   with:
      #     token: ${{ secrets.SONAR_TOKEN }}

      - name: SonarQube Scan
        run: |
          sonar-scanner \
            -Dsonar.projectKey=CurrencyService \
            -Dsonar.sources=./src/currencyservice \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
  dependency-check:
    runs-on: self-hosted
    needs: sonarqube-analysis

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run OWASP Dependency-Check
        run: |
          dependency-check.sh \
            --project CurrencyService \
            --out ./src/currencyservice/dependency-check-report \
            --scan ./src/currencyservice \
            --format "ALL"

      - name: Upload Dependency-Check Report
        uses: actions/upload-artifact@v3
        with:
          name: dependency-check-report
          path: ./src/currencyservice/dependency-check-report

  build-and-push:
    runs-on: self-hosted
    needs: dependency-check
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .  # Use the current directory as the build context
          file: ./src/currencyservice/Dockerfile  # Path to your Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/currency-service:${{github.run_id}}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  trivy-scan:
    runs-on: self-hosted
    needs: build-and-push

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Scan Docker image with Trivy
        run: |
          trivy image --no-progress --format table ${{ secrets.DOCKERHUB_USERNAME }}/currency-service:${{ github.run_id }}

      - name: Upload Trivy scan results
        uses: actions/upload-artifact@v3
        with:
          name: trivy-scan-results
          path: ./trivy-scan-results

  update-newtag-in-helm-chart:
    runs-on: self-hosted

    needs: trivy-scan

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.TOKEN }}

    - name: Update tag in Helm chart
      run: |
        sed -i 's/currencyservicetag: .*/currencyservicetag: "${{github.run_id}}"/' helm/currencyservice-chart/values.yaml

    - name: Commit and push changes
      run: |
        git config --global user.email "saikrishnareddy9100@gmail.com"
        git config --global user.name "Pidemarla"
        git add helm/currencyservice-chart/values.yaml
        git commit -m "Update tag in Helm chart"
        git push
