name: productcatalogserviceci

# Exclude the workflow to run on changes to the helm chart
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'helm/**'
      - 'k8s/**'
      - 'README.md'
      - 'src/adservice/**'
      - 'src/cartservice/**'
      - 'src/currencyservice/**'
      - 'src/emailservice/**'
      - 'src/loadgenerator/**'
      - 'src/paymentservice/**'
      - 'src/frontend/**'
      - 'src/recommendationservice/**'
      - 'src/shippingservice/**'
      - 'src/shoppingassistantservice/**'


jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Go 1.22
      uses: actions/setup-go@v2
      with:
        go-version: 1.22

    - name: Build frontend-service
      working-directory: src/productcatalogservice
      run: go build -o product-catalog-service

    - name: Test
      working-directory: src/productcatalogservice
      run: go test ./...
  
  # code-quality:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - name: Checkout repository
  #     uses: actions/checkout@v4

  #   - name: Run golangci-lint
  #     uses: golangci/golangci-lint-action@v6
  #     with:
  #       version: v1.56.2
  
  push:
    runs-on: ubuntu-latest

    needs: build

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push action
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./src/productcatalogservice/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/product-catalog-service:${{github.run_id}}

  update-newtag-in-helm-chart:
    runs-on: ubuntu-latest

    needs: push

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.TOKEN }}

    - name: Update tag in Helm chart
      run: |
        sed -i 's/productcatalogservicetag: .*/productcatalogservicetag: "${{github.run_id}}"/' helm/online-boutique-chart/values.yaml

    - name: Commit and push changes
      run: |
        git config --global user.email "saikrishnareddy9100@gmail.com"
        git config --global user.name "Pidemarla"
        git add helm/online-boutique-chart/values.yaml
        git commit -m "Update tag in Helm chart"
        git push